<div>
  <h1>Title</h1>
  <article>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
      cupiditate, quaerat quis ipsum mollitia nihil eum, delectus officiis
      repellat ullam id est doloremque reprehenderit error voluptatum, excepturi
      explicabo praesentium asperiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
      cupiditate, quaerat quis ipsum mollitia nihil eum, delectus officiis
      repellat ullam id est doloremque reprehenderit error voluptatum, excepturi
      explicabo praesentium asperiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
      cupiditate, quaerat quis ipsum mollitia nihil eum, delectus officiis
      repellat ullam id est doloremque reprehenderit error voluptatum, excepturi
      explicabo praesentium asperiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
      cupiditate, quaerat quis ipsum mollitia nihil eum, delectus officiis
      repellat ullam id est doloremque reprehenderit error voluptatum, excepturi
      explicabo praesentium asperiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
      cupiditate, quaerat quis ipsum mollitia nihil eum, delectus officiis
      repellat ullam id est doloremque reprehenderit error voluptatum, excepturi
      explicabo praesentium asperiores.
    </p>
  </article>
  @defer(on viewport) {
  <app-comments />
  } @placeholder {
  <p>Futuros comentarios</p>
  } @loading {
  <p>Cargando...</p>
  }
</div>

<router-outlet />
